.title {
    font-weight: bolder;
}

.shake {
    animation-name: shake;
    animation-duration: 0.15s;
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

.correct-answer {
    position: fixed;
    width: 100dvw;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#answer {
    padding: 1dvh 2dvw;
    width: max-content;
    background-color: var(--app-paper-color);
    font-weight: bolder;
    color: var(--app-paper-text-color);
    border-radius: 3px;
    text-transform: uppercase;
}