.progress-bar {
  background-color: var(--app-surface-color);
  padding: 0.7dvh;
  border-radius: 1px;
}

.stat-value {
    font-weight: bold;
    font-size: xx-large;
}

.stat-label {
    font-weight: bold;
    font-size: large
}