.key {
    border-radius: 0.25rem;
    width: 8dvw;
    height: 8dvh;
    font-weight: bolder;
    color: var(--app-text-color)
}

.key.unguessed {
    background-color: var(--app-key-neutral-color);
}

.key.correct {
    background-color: var(--app-success-color);
}

.key.incorrect {
    background-color: var(--app-key-incorrect-color);
}

.key.semi-correct {
    background-color: var(--app-warning-color);
}