.key {
    border-radius: 0.25rem;
    width: 8dvw;
    height: 8dvh;
    font-weight: bolder;
}

.key.unguessed {
    background-color: rgb(129, 131, 132);
}

.key.correct {
    background-color: rgb(83, 141, 78);
}

.key.incorrect {
    background-color: rgb(58, 58, 60);
}

.key.semi-correct {
    background-color: rgb(181, 159, 59);
}