.tile {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 12dvw;
    font-weight: bolder;
    height: 3.5rem;
    width: 3.5rem;
    background-color: transparent;
    perspective: 1000px;
}

.tile-inner {
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    transform-style: preserve-3d;
}

.flip {
    animation-name: flip;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes flip {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(180deg);
    }
}

.tile-front, .tile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.tile-back {
    transform: rotateX(180deg);
}

.unguessed {
    border: 3px solid rgb(129, 131, 132);
    border-radius: 2px;
}

.correct {
    background-color: rgb(83, 141, 78);
}

.incorrect {
    background-color: rgb(58, 58, 60);
}

.semi-correct {
    background-color: rgb(181, 159, 59);
}